@tailwind base;
@tailwind components;
@tailwind utilities;


.btn{
    @apply px-4 text-center py-1 rounded-sm inline-block shadow-md
}

.btn-teal{
    @apply bg-teal-600 text-white hover:bg-teal-700 active:bg-teal-500
}

.btn-white{
    @apply bg-teal-100 text-teal-600 hover:bg-teal-200 active:bg-white active:shadow-sm
}

table{
    @apply border border-gray-300
}

table td{
    @apply border-y px-3 py-1 border-gray-300 text-center
}

table tr:nth-child(2n-1){
    @apply bg-gray-200
}

::-webkit-scrollbar  {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #bebebe;
}